/* Estilos Globais */
body {
    font-family: 'Roboto', sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden; /* Prevenir rolagem horizontal */
}

/* Estilos do Container */
.container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2); 
    border-radius: 12px; 
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    input, select, button {
        font-size: 14px; 
    }
}

/* Estilos dos Formulários */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input, select {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s ease; 
}

input:focus, select:focus {
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}

/* Estilos dos Botões */
button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #0056b3; 
}

/* Estilos para o leitor de QR Code */
#qr-reader {
    display: none;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;  
    height: 100vh;  
    background-color: #000;  
    z-index: 9999;  
    justify-content: center;
    align-items: center;
}

#qr-reader video {
    width: 100% !important;  
    height: 100% !important;  
}

/* Estilos para Tabelas */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: #333;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #f1f1f1;
}

/* Estilo para a caixa de seleção */
.select-container {
    position: relative; 
    width: 100%;
}

select {
    width: 100%; 
    padding: 10px; 
    border: 2px solid #ddd; 
    border-radius: 6px; 
    background-color: #f9f9f9; 
    color: #333; 
    appearance: none; 
}

.select-container::after {
    content: '▼'; 
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none; 
    color: #666; 
    font-size: 12px;
}

/* Adicionando uma regra de responsividade para tabelas */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    th, td {
        padding: 8px;
    }
}
