 /* Estilos globais */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    min-height: 100vh;
}

/* Conteúdo principal */
#main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
}

/* Ocultar todos os formulários inicialmente */
.formulario {
    display: none;
}

h1, h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    margin-bottom: 8px;
    color: #333;
}

input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

/* Estilos dos botões */
button {
    padding: 10px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

/* Botões inferiores estilo WhatsApp */
.bottom-nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    background-color: #007BFF;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.bottom-nav button {
    background-color: transparent;
    color: white;
    font-size: 12px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-nav button i {
    font-size: 20px;
    margin-bottom: 5px;
}

/* Responsivo para telas menores */
@media (max-width: 768px) {
    #main-container {
        padding: 15px;
    }

    input, button {
        font-size: 14px;
    }
}